.dropdown {
    position: relative;
    display: inline-block;
    width: auto; /* Set the desired width for the dropdown container */
    margin-bottom: 10px;
}

.dropdown-btn {
    background-color: #a0a3a1;
    color: #f7faf8;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b31;
    min-width: inherit; /* Inherit the width from the parent element */
    z-index: 1;
}

.dropdown-content a {
    color: rgba(255, 255, 255, 0.75);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #555555;
}

.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
    display: block;
}

@media screen and (min-width: 576px) {
    .dropdown {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .dropdown {
        width: 500px;
    }

    .dropdown-btn {
        width: auto;
    }

    .dropdown-content {
        width: auto;
        min-width: 160px;
    }
}

@media screen and (min-width: 992px) {
    .dropdown {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown {
        width: 800px;
    }
}
